@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;700&display=swap');
* {
--vivid-tangerine: #fe9079ff;
--teal: #1b8185ff;
--viridian-green: #02979dff;
--laurel-green: #b7c8aaff;
--teal-2: #1a8286ff;
};
img {
    width: 10%;
    border: 5px solid var(--vivid-tangerine);
  }

body {
    flex-direction: row;
    background-color: lightblue;
    font-family: 'League Spartan', sans-serif;
  }

.dark-bold {
    color: var(--black);

}
.center {
    text-align: center;
}
.border {
    margin: auto;
    width: 50%;
    border: 3px solid black;
    padding: 5 0 0 15;
}

@media (max-width: 600px) {
    body {
        flex-direction: column;

    }
}